### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
total_players=len(purchase_data["SN"].value_counts())
player_count=pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
unique_items=len((purchase_data["Item ID"]).unique())
average_price=(purchase_data["Price"]).mean()
number_purchases=(purchase_data["Purchase ID"]).count()
total_revenue=(purchase_data["Price"]).sum()

values_df=pd.DataFrame({"unique Items":[unique_items],
                       "Average Price":[average_price],
                       "Number of Purchases":[number_purchases],
                       "Total Revenue":[total_revenue]})
values_df.style.format({'Average Price':"${:,.2f}",
                       'Total Revenue':"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
gender_stats=purchase_data.groupby("Gender")
count_gender = gender_stats.nunique()["SN"]
percentage_players = count_gender/total_players*100

gender_demographics=pd.DataFrame({"Percentage of Players":percentage_players, "Total Count":count_gender})
gender_demographics.index.name=None
gender_demographics.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#Purchase Count
purchase_count=gender_stats["Purchase ID"].count()

#Average purchase price by gender
avg_purchase_price=gender_stats["Price"].mean()

#Average purchase total
avg_purchase_total=gender_stats["Price"].sum()

#Summary DataFrame
gender_demographics=pd.DataFrame({"Purchase Count":purchase_count,
                                 "Average Purchase Price":avg_purchase_price,
                                 "Average Purchase Vale":avg_purchase_total,
                                 "Average Purchase Total per Person":avg_purchase_per_person})

gender_demographics.index.name="Gender"
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}",
                                 "Average Purchase Total per Person":"${:,.2f}"})

NameError: name 'avg_purchase_per_person' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame