### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [40]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [41]:
total_players=len(purchase_data["SN"].value_counts())
player_count=pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
unique_items=len((purchase_data["Item ID"]).unique())
average_price=(purchase_data["Price"]).mean()
number_purchases=(purchase_data["Purchase ID"]).count()
total_revenue=(purchase_data["Price"]).sum()

values_df=pd.DataFrame({"unique Items":[unique_items],
                       "Average Price":[average_price],
                       "Number of Purchases":[number_purchases],
                       "Total Revenue":[total_revenue]})
values_df.style.format({'Average Price':"${:,.2f}",
                       'Total Revenue':"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
gender_stats=purchase_data.groupby("Gender")
count_gender = gender_stats.nunique()["SN"]
percentage_players = count_gender/total_players*100

gender_demographics=pd.DataFrame({"Percentage of Players":percentage_players, "Total Count":count_gender})
gender_demographics.index.name=None
gender_demographics.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
#Purchase Count
purchase_count=gender_stats["Purchase ID"].count()

avg_purchase_price=gender_stats["Price"].mean()

avg_purchase_total=gender_stats["Price"].sum()


avg_purchase_per_person=avg_purchase_total/count_gender

gender_demographics=pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": average_purchase_price,
                                 "Average Purchase Total per Person":avg_purchase_per_person})

gender_demographics.index.name=None

gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}",
                                 "Average Purchase Total per Person":"${:,.2f}"})

NameError: name 'average_purchase_price' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [45]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels = group_name)
purchase_data

demographics_age = purchase_data.groupby(["Age Group"])

count_age = demographics_age["SN"].nunique()

percent_age = (count_age/purchase)*100
demographics_age = pd.DataFrame({"Total Count":count_age, 
                                 "Percentage of Players":percent_age})

demographics_age.style.format({"Percentage of Players":"${:,.2f}"})

NameError: name 'purchase' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
purchase_age_count = age_demo["Purchase ID"].count()

average_purchase_count = age_demo["Price"].mean()

total_purchase_value = age_demo["Price"].sum()

avg_total_per = total_purchase_value/count_age

purchasing_analysis = pd.DataFrame({"Purchase Count":purchase_age_count, "Average Purchase Price":average_purchase_count,"Total Purchase Value":total_purchase_value,"Avg Total Purchase per Person":avg_total_per})

purchasing_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}",
                                   "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
top_spenders = purchase_data.groupby(["SN"])

pur_count = top_spenders["Purchase ID"].count()

avg_pur_price = top_spenders["Price"].mean()

total_pur_value = top_spenders["Price"].sum()

spenders = pd.DataFrame({"Purchase Count":pur_count,"Average Purchase Price":avg_pur_price,
                         "Total Purchase Value":total_pur_value})

formatted_spenders = spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:
Items = purchase_data[["Item ID","Item Name","Price"]]

Item_popular = Items.groupby(["Item ID","Item Name"])
purchasecount = Item_popular["Price"].count()

value_total = Item_popular["Price"].sum()

item_price = value_total/purchasecount

popular_items=pd.DataFrame({"Purchase Count":purchasecount,
                            "Item Price":item_price,
                            "Total Purchase Value":value_total})

sorted_popular = popular_items.sort_values(["Purchase Count"], ascending=False).head()

sorted_popular.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [49]:
sorted_popular = popular_items.sort_values(["Total Purchase Value"],ascending=False).head()

sorted_popular.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})